In [4]:
import pandas as pd

## converted json file into csv below

In [ ]:
json_yelp = pd.read_json(r'C:\Users\rfeng\Downloads\yelp_data\yelp_academic_dataset_business.json', lines = True)
to_csv = json_yelp.to_csv(r'C:\Users\rfeng\Downloads\yelp_data\yelp_business.csv', index = None, header = True)

## HELP

In [ ]:
size = 1000000
yelp_review = pd.read_json(r'C:\Users\rfeng\Downloads\yelp_data\yelp_academic_dataset_review.json', lines = True,chunksize=size)
full = []
for r in yelp_review:
    # Drop columns that aren't needed
    r = r.drop(['useful','funny','cool', 'review_id'], axis=1)
    full.append(r)
df = pd.concat(full, ignore_index = True, axis = 0) 
df.to_csv("yelp_review.csv", index = False)

## Business JSON Cleaning

### HELP: NEED TO DROP THE NONE OBSERVATIONS FOR THOSE WITH MISSING HOURS AND OBSERVATIONS WITHOUT 'FOOD' IN 'CATEGORIES' - needs fixing bc idk syntax :(

In [27]:
business = pd.read_json(r'C:\Users\rfeng\Downloads\yelp_data\yelp_academic_dataset_business.json', lines = True)
#Drop the irrelevant columns:
#address (unique to business, does not tell much in terms of distribution)
#is_open (fluctuates depending on when we are accessing the data. It doesn't matter to us.)
#attributes (standard and experience usually not caused by these external factors, not something restaurants can control)
business = business.drop(['address', 'is_open', 'attributes'], axis = 1)
business.rename(columns = {'stars': 'business_rating'})
#Dropping observations with missing values
ind = business[business['hours'] == 'None'].index
business.drop(ind, inplace = True)
business.head()
#Only keeping observations that have 'food' as 'categories' value
business['categories'] = [business.drop(business[business['categories'] != 'food'].index, inplace = True)]

,business_id,name,city,state,postal_code,latitude,longitude,stars,review_count,categories,hours
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,"Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...","{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'..."
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,"Health & Medical, Fitness & Instruction, Yoga,...",None
2,XNoUzKckATkOD1hP6vghZg,Felinus,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,"Pets, Pet Services, Pet Groomers",None
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,"Hardware Stores, Home Services, Building Suppl...","{'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ..."
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,"Home Services, Plumbing, Electricians, Handyma...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '..."